%a{name: 'about'}
.intro-header
  .container
    .row
      .col-md-10.col-lg-8.col-xl-7.mx-auto
        = form_tag profile_sign_up_path, :method => :post do
          .form-row
            .row
              .col-12.col-md-9.mb-2.mb-md-0
                = text_field_tag("email", "", class:'form-control form-control-lg', placeholder:"Enter your email...", :required => true, style: "height: 46px")
              .col-12.col-md-3
                = submit_tag "Submit", class: 'btn btn-block btn-lg btn-primary'

          %hr.intro-divider
          %ul.list-inline.intro-social-buttons
            %li
              = link_to 'https://twitter.com/SBootstrap', class: 'btn btn-default btn-lg' do
                %i.fa.fa-twitter.fa-fw
                %span.network-name
                  Twitter
            %li
              = link_to 'https://github.com/IronSummitMedia/startbootstrap', class: 'btn btn-default btn-lg' do
                %i.fa.fa-youtube.fa-fw
                %span.network-name
                  Youtube
